.page-header {
  background-color: #002244 !important;
}

.page-header > .wrapper {
  background-color: transparent !important; /* or same as parent if needed */
}

.project-name,
.project-tagline {
  color: #ffffff !important;
}
